/* Reset */
body{
    margin: 0;
}

hr{
    margin: 0;
}

/* Header */
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.navigation .logo{
    width: 100px;
    border-radius: 15%;
}

.navigation .pesquisa{
    display: flex;
    align-items: center;
    gap: 10px;
}

.navigation .pesquisa i{
    font-size: 25px;
}

.navigation table i{
    font-size: 40px;
    color: #000;
}

.navigation table tr{
    display: flex;
    gap: 10px;
}